.stomat{
    text-align: center;
    margin: 0%;
    font-size: 40px;
    font-weight: 500;
    background-image: linear-gradient(to left, #370e61, #17121b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.dentistry{
    text-align: center;
    margin: 0%;
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to left, #370e61, #17121b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-style: italic;  
}

.spec{
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-right: 550px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header{
  background: rgb(9,114,138);
background: linear-gradient(90deg, rgba(9,114,138,1) 0%, rgba(5,221,214,1) 0%, rgba(31,152,161,1) 0%, rgba(51,166,182,1) 37%, rgba(52,221,241,1) 63%, rgba(4,236,254,1) 100%);
    width: auto;
    height: 100px;
    margin: 0px;
    border-bottom: 1px solid rgb(15, 128, 156);
    position: relative;
}

body{
    margin: 0%;
}

img{
    position: fixed;
    top:10px;
    left:10px;
}

.buttons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.btn{
    /* top: 300px; */
    margin: 7px;
    font-weight: bold;
    color: #fff;
    padding: .7em 1.5em;
    border: 1px solid rgb(80,32,0);
    border-radius: 5px;
    background: rgb(4, 140, 155) linear-gradient(rgb(2, 114, 122), rgb(1, 174, 165) 80%);
    box-shadow:
    0 6px #007474, 
    0 3px 15px rgb(0 0 0 / 40%), 
    inset 0 1px rgb(255 255 255 / 30%), 
    inset 0 0 3px rgb(255 255 255 / 50%);
    transition: .1s;
} 

.btn:hover {
    background: rgb(0 23 124)  linear-gradient(rgb(96, 197, 204),rgb(56, 148, 153) 50%);
}

.btn:active {
    background: rgb(0 23 124)  linear-gradient(rgb(61, 150, 158) 40%, rgb(4, 105, 119));
    box-shadow:
     0 2px rgb(86,38,6),
     0 1px 6px rgba(0,0,0,.4),
     inset 0 1px rgba(255,255,255,.3),
     inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

body{
  background-image: url(1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 800px;
    margin-left: 80px;
}
 /* границы ячеек тела таблицы */
td {
    border: 2px solid black;
    padding: 7px;
}

a{
    font-size: 110%;
}

.vern{
    margin-top: 10px;
    margin-bottom: 10px;
}

.zapis{
    margin-left: 30px;
    font-size: 120%;
}

.number{
    padding: .7em 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: coral;
    border-style: none;
    margin-bottom: 30px;
}

.number:hover {
    background: rgb(243, 177, 64);
}
.number:active {
    background: rgba(40, 163, 43, 0.689);
    transform: translate(0, 4px);
}
.profile__open{
    margin-right: 20px;
}



.popup{
    background: #007474;
    margin-top: 200px;
	padding: 100px 0;
	margin-left: auto;
    margin-right: auto;
	width: 50%;
	background-color: #eaeaea;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(0 23 124) ;
}

.popup form{
	width: 300px;
	margin: 0 auto;
}

.popup form *{
	display: block;
	margin: 0 auto;
}

.popup form input{
	width: 80%;
	height: 30px;
	margin-bottom: 20px;
}


#zatemnenie1, #zatemnenie2{
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none; 
  }
  #zatemnenie1:target, #zatemnenie2:target {display: block;}
  .close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
  }
  .close:hover {background: #e6e6ff;}

  .popup__close{
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 50px;
	color: white;
	cursor: pointer;  /*вместо стрелочки появляется пальчик когда наводим*/
}


.auth__input{
    width: 200px;
    height: 30px;
    margin: 10px;
}
